/* 优化背景和菜单栏 */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#048A81, white);
}

#navbar {
  background-color: #6a4839;
}

.navbar-toggler {
  background-color: lightgray;
}

.navbar-toggler:hover {
  background-color: #048A81
}

.navbar-brand {
  font-family: "Ma Shan Zheng";
  font-size: 250%;
  color: #c9ecf8;
  text-shadow: #048A81 1px 0 2px;
  padding-left: 20px;
}

.navbar-brand:hover {
  color: #048A81
}

.nav-item {
  color: lightyellow;
}

.nav-link {
  font-family: "Aladin";
  font-size: 150%;
  color: white;
}

.nav-link:hover {
  color: #048A81;
}

/* 优化背景和菜单栏结束 */


.card {
  margin: 20px;
}

.c_one {
  background-color: #ffffff99;
  border: solid 5px #048A81;
  box-shadow: #6a4839 3px 4px 25px;
  border-radius: 50px;
  padding: 20px;
  margin-top: 80px;
  font-family: "Aladin";
}

.c_one h3 {
  font-family: "Ma Shan Zheng";
  font-size: 30px;
  color: #88fcdd60;
  text-shadow: #048A81 2px 0 1px;
}

.c_two {
  background-color: #c9ecf899;
  border: solid 5px #6a4839;
  border-radius: 50px;
  padding: 20px;
  font-family: "Aladin";
  box-shadow: #048A81 3px 4px 25px;
}

.c_three {
  background-color: #88fcdd99;
  border: solid 5px #6a4839;
  border-radius: 50px;
  padding: 20px;
  font-family: "Aladin";
  box-shadow: #048A81 3px 4px 25px;
}

.design_mockup img {
  border-radius: 50px;
  margin-bottom: 50px;
}

.design_mockup p {
  font-family: "Ma Shan Zheng";
  color: #6a4839;
  margin-bottom: 50px;
}

/* Go to the next page effect */
.bi-chevron-down:hover {
  color: #048A81;
  animation-name: bounce;
  animation-duration: 3s;
}