/* The Top's Navigation Guide that copy for evey page. Copy IT!*/
html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(#048A81, white);
}

h1 {
  font-size: 40px;
  font-family: "Ma Shan Zheng";
}


.top_navigaion {
  background-color: gray;
  padding: 1px 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navigation {
  length: 30px;
  width: 30px;
}
/* The End Of Navigation */

section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  background-color: white;
  margin: 0 30%;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 1px 2px 5px #8BC88A;
  display: flex;
  justify-content: center;
}

.func_3_section_1 {
  display: flex;
  flex-direction: column;
}

.func_3_section_2 {
  display: flex;
  flex-direction: column;
}

.func_3_section_3 {
  display: flex;
  flex-direction: column;
}

#func_3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
}


/* Moving Button. Copy IT */
.to_the_next_page {
  length: 30px;
  width: 30px;
  margin: 0 50%;
  margin: 15% 50% 0 50%;
}